<script id=all_games_template type=text/x-handlebars-template><h3>Games</h3>
<a href="#/newgame" class="btn btn-default btn-xs">New Game</a>
  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Status</th>
      <th>Players</th>
      <th>Start Date</th>
      <th>End Date</th>
    </thead>

    <tbody>
      {{#games}}
        <tr>
          <td>{{name}}</td>
          <td>{{status}}</td>
          <td>{{players.length}}</td>
          <td>{{start_date}}</td>
          <td>{{end_date}}</td>
          <td><a href="#/game?{{id}}">VIEW</td>
        </tr>
      {{/games}}
    </tbody>
  </table></script>