body {
  margin: 0 auto;
}
#big-container {
  // border: 1px solid red;
  margin: 20px;
}
#navbar {
  // border: 1px solid red;
  border: 2px solid #ccc; //lightgray
  border-radius: 5px;
  padding: 8px;
}
.all_charts {
  /*border: 1px solid lightblue;*/
}
#chart_hc_bar {
  /*border: 1px solid red;*/
  float: left;
  padding-left: 10px;
  padding-right: 60px;
  width: 370px;
  height: 340px;
}
#chart_d3  {
  /*border: 1px solid red;*/
  /*float: right;*/
  width: 400px;
}

#chart_hc_line {
  margin: 40px;
  width: 800px;
  height: 400px;
  border-top: 1px solid black;
}
